In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.239246 -1.261208
1    a  two -1.231554  0.488126
2    b  one  0.241619  1.035495
3    b  two  0.292030 -1.106171
4    a  one  0.751294  1.141612

In [4]:
#Series的Groupby 
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [5]:
grouped.mean()

台中    0.521662
台北   -0.409727
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(df['key2']).mean()

key2
one    0.251222
two   -0.469762
Name: data1, dtype: float64

In [7]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.256024
      two    -1.231554
b     one     0.241619
      two     0.292030
Name: data1, dtype: float64

In [8]:
s1.unstack(level='key1')

key1         a         b
key2
one   0.256024  0.241619
two  -1.231554  0.292030

In [15]:
df.groupby('key1')['data1'].mean()

key1
a   -0.239835
b    0.266824
Name: data1, dtype: float64

In [16]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.239835  0.122843
b     0.266824 -0.035338

In [13]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.239835  0.122843
b     0.266824 -0.035338

In [20]:
df.groupby(['key1','key2'])[['data1','data2']].sum()

              data1     data2
key1 key2
a    one   0.512048 -0.119596
     two  -1.231554  0.488126
b    one   0.241619  1.035495
     two   0.292030 -1.106171