In [6]:
p1 = {'name':'ttl',
'age':40,
'city':'Taipei'}
p1

{'name': 'ttl', 'age': 40, 'city': 'Taipei'}

In [11]:
print(p1['name'])
print(p1.get('age'))

ttl
40

In [12]:
del p1['city']
p1.pop('age')

40

In [14]:
del p1

In [15]:
p1

NameError: name 'p1' is not defined

In [23]:
capitals = {"USA":"Washington, D.C.","France":"Paris","Japan":"Tokyo"}
print(capitals["France"])

capitals["Germany"] = "Berlin"
capitals["Japan"] = "Kyoto"
print(capitals)


del capitals["USA"]
print("USA" in capitals)

Paris
{'USA': 'Washington, D.C.', 'France': 'Paris', 'Japan': 'Kyoto', 'Germany': 'Berlin'}
False

In [29]:
for country, capital in capitals.items():
    print(f"The capital of {country} is {capital}")

The capital of France is Marseille
The capital of Japan is Kyoto
The capital of Germany is Berlin
The capital of Italy is Rome

In [26]:
more_capitals = {"Italy": "Rome", "France": "Marseille"}
capitals.update(more_capitals)
print(capitals)  # France 的首都會被更新為 Marseille

print(len(capitals))           # 字典長度
print(list(capitals.keys()))   # 所有鍵
print(list(capitals.values())) # 所有值

{'France': 'Marseille', 'Japan': 'Kyoto', 'Germany': 'Berlin', 'Italy': 'Rome'}
4
['France', 'Japan', 'Germany', 'Italy']
['Marseille', 'Kyoto', 'Berlin', 'Rome']

In [27]:
reversed_dict = {value: key for key, value in capitals.items()}
print(reversed_dict)

{'Marseille': 'France', 'Kyoto': 'Japan', 'Berlin': 'Germany', 'Rome': 'Italy'}

In [33]:
fruits = ['蘋果','香蕉','橘子']

for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [35]:
for fruit in enumerate(fruits):
    print(fruit)

(0, '蘋果')
(1, '香蕉')
(2, '橘子')

In [37]:
for index,fruit in enumerate(fruits):
    print(index, fruit,sep='->')
    print("=====")

0->蘋果
=====
1->香蕉
=====
2->橘子
=====

In [39]:
for i in range(1,11):
    print(i)

fruits = ["apple", "banana", "cherry", "date"]

for fruit in  fruits:
    print(fruit)

1
2
3
4
5
6
7
8
9
10
apple
banana
cherry
date

In [43]:
numbers = [10,20,30,40,50]
total = 0
for num in numbers:
    total += num
print("Total:", total)

Total: 150

In [46]:
taiwan_cities = {
    "Taipei": "台北市",
    "New Taipei": "新北市",
    "Taoyuan": "桃園市",
    "Taichung": "台中市",
    "Tainan": "台南市",
    "Kaohsiung": "高雄市",
    "Keelung": "基隆市",
    "Hsinchu": "新竹市",
    "Chiayi": "嘉義市",
    "Yilan": "宜蘭縣"
}

for key, value in taiwan_cities.items():
    print(f"{key}:{value}")

Taipei:台北市
New Taipei:新北市
Taoyuan:桃園市
Taichung:台中市
Tainan:台南市
Kaohsiung:高雄市
Keelung:基隆市
Hsinchu:新竹市
Chiayi:嘉義市
Yilan:宜蘭縣