In [87]:
p1 = {'name':'ttl',
'age':40,
'city':'Taipei'}
p1

{'name': 'ttl', 'age': 40, 'city': 'Taipei'}

In [88]:
print(p1['name'])
print(p1.get('age'))

ttl
40

In [89]:
del p1['city']
p1.pop('age')

40

In [90]:
del p1

In [91]:
p1

NameError: name 'p1' is not defined

In [23]:
capitals = {"USA":"Washington, D.C.","France":"Paris","Japan":"Tokyo"}
print(capitals["France"])

capitals["Germany"] = "Berlin"
capitals["Japan"] = "Kyoto"
print(capitals)


del capitals["USA"]
print("USA" in capitals)

Paris
{'USA': 'Washington, D.C.', 'France': 'Paris', 'Japan': 'Kyoto', 'Germany': 'Berlin'}
False

In [29]:
for country, capital in capitals.items():
    print(f"The capital of {country} is {capital}")

The capital of France is Marseille
The capital of Japan is Kyoto
The capital of Germany is Berlin
The capital of Italy is Rome

In [26]:
more_capitals = {"Italy": "Rome", "France": "Marseille"}
capitals.update(more_capitals)
print(capitals)  # France 的首都會被更新為 Marseille

print(len(capitals))           # 字典長度
print(list(capitals.keys()))   # 所有鍵
print(list(capitals.values())) # 所有值

{'France': 'Marseille', 'Japan': 'Kyoto', 'Germany': 'Berlin', 'Italy': 'Rome'}
4
['France', 'Japan', 'Germany', 'Italy']
['Marseille', 'Kyoto', 'Berlin', 'Rome']

In [27]:
reversed_dict = {value: key for key, value in capitals.items()}
print(reversed_dict)

{'Marseille': 'France', 'Kyoto': 'Japan', 'Berlin': 'Germany', 'Rome': 'Italy'}

In [33]:
fruits = ['蘋果','香蕉','橘子']

for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [35]:
for fruit in enumerate(fruits):
    print(fruit)

(0, '蘋果')
(1, '香蕉')
(2, '橘子')

In [37]:
for index,fruit in enumerate(fruits):
    print(index, fruit,sep='->')
    print("=====")

0->蘋果
=====
1->香蕉
=====
2->橘子
=====

In [39]:
for i in range(1,11):
    print(i)

fruits = ["apple", "banana", "cherry", "date"]

for fruit in  fruits:
    print(fruit)

1
2
3
4
5
6
7
8
9
10
apple
banana
cherry
date

In [43]:
numbers = [10,20,30,40,50]
total = 0
for num in numbers:
    total += num
print("Total:", total)

Total: 150

In [56]:
taiwan_cities = {
    "Taipei": "台北市",
    "New Taipei": "新北市",
    "Taoyuan": "桃園市",
    "Taichung": "台中市",
    "Tainan": "台南市",
    "Kaohsiung": "高雄市",
    "Keelung": "基隆市",
    "Hsinchu": "新竹市",
    "Chiayi": "嘉義市",
    "Yilan": "宜蘭縣"
}

for key, value in taiwan_cities.items():
    print(f"{key}:{value}")

Taipei:台北市
New Taipei:新北市
Taoyuan:桃園市
Taichung:台中市
Tainan:台南市
Kaohsiung:高雄市
Keelung:基隆市
Hsinchu:新竹市
Chiayi:嘉義市
Yilan:宜蘭縣

In [61]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        print(num)

numbers = range(1,11)
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10
2
4
6
8
10

In [67]:
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")
    print("-" * 10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [92]:
import random

students = []
for i in range(1,51):
    students.append(
        {
            'name':f'student{i}',
            'chinese':random.randint(50,100),
            'english':random.randint(50,100),
            'math':random.randint(50,100),
            'history':random.randint(50,100),
            'health':random.randint(50,100)
         }
    )

students

[{'name': 'student1',
  'chinese': 66,
  'english': 90,
  'math': 63,
  'history': 66,
  'health': 78},
 {'name': 'student2',
  'chinese': 75,
  'english': 76,
  'math': 59,
  'history': 84,
  'health': 70},
 {'name': 'student3',
  'chinese': 54,
  'english': 57,
  'math': 100,
  'history': 74,
  'health': 62},
 {'name': 'student4',
  'chinese': 72,
  'english': 68,
  'math': 79,
  'history': 51,
  'health': 63},
 {'name': 'student5',
  'chinese': 70,
  'english': 85,
  'math': 83,
  'history': 77,
  'health': 86},
 {'name': 'student6',
  'chinese': 52,
  'english': 89,
  'math': 84,
  'history': 66,
  'health': 62},
 {'name': 'student7',
  'chinese': 87,
  'english': 73,
  'math': 67,
  'history': 86,
  'health': 59},
 {'name': 'student8',
  'chinese': 67,
  'english': 68,
  'math': 60,
  'history': 75,
  'health': 52},
 {'name': 'student9',
  'chinese': 62,
  'english': 85,
  'math': 97,
  'history': 61,
  'health': 93},
 {'name': 'student10',
  'chinese': 71,
  'english': 96,
  'math': 74,
  'history': 79,
  'health': 66},
 {'name': 'student11',
  'chinese': 59,
  'english': 88,
  'math': 70,
  'history': 98,
  'health': 69},
 {'name': 'student12',
  'chinese': 86,
  'english': 78,
  'math': 83,
  'history': 70,
  'health': 92},
 {'name': 'student13',
  'chinese': 95,
  'english': 67,
  'math': 51,
  'history': 89,
  'health': 53},
 {'name': 'student14',
  'chinese': 88,
  'english': 55,
  'math': 85,
  'history': 62,
  'health': 56},
 {'name': 'student15',
  'chinese': 77,
  'english': 98,
  'math': 81,
  'history': 91,
  'health': 86},
 {'name': 'student16',
  'chinese': 81,
  'english': 81,
  'math': 87,
  'history': 99,
  'health': 74},
 {'name': 'student17',
  'chinese': 96,
  'english': 53,
  'math': 88,
  'history': 72,
  'health': 74},
 {'name': 'student18',
  'chinese': 70,
  'english': 50,
  'math': 64,
  'history': 83,
  'health': 82},
 {'name': 'student19',
  'chinese': 56,
  'english': 77,
  'math': 84,
  'history': 91,
  'health': 88},
 {'name': 'student20',
  'chinese': 56,
  'english': 64,
  'math': 64,
  'history': 74,
  'health': 56},
 {'name': 'student21',
  'chinese': 68,
  'english': 59,
  'math': 72,
  'history': 96,
  'health': 75},
 {'name': 'student22',
  'chinese': 77,
  'english': 62,
  'math': 87,
  'history': 82,
  'health': 56},
 {'name': 'student23',
  'chinese': 50,
  'english': 93,
  'math': 83,
  'history': 77,
  'health': 79},
 {'name': 'student24',
  'chinese': 96,
  'english': 87,
  'math': 90,
  'history': 71,
  'health': 74},
 {'name': 'student25',
  'chinese': 52,
  'english': 66,
  'math': 95,
  'history': 63,
  'health': 74},
 {'name': 'student26',
  'chinese': 56,
  'english': 68,
  'math': 62,
  'history': 59,
  'health': 84},
 {'name': 'student27',
  'chinese': 95,
  'english': 61,
  'math': 57,
  'history': 63,
  'health': 51},
 {'name': 'student28',
  'chinese': 75,
  'english': 66,
  'math': 92,
  'history': 76,
  'health': 70},
 {'name': 'student29',
  'chinese': 100,
  'english': 93,
  'math': 54,
  'history': 77,
  'health': 75},
 {'name': 'student30',
  'chinese': 51,
  'english': 70,
  'math': 73,
  'history': 79,
  'health': 90},
 {'name': 'student31',
  'chinese': 98,
  'english': 86,
  'math': 87,
  'history': 87,
  'health': 87},
 {'name': 'student32',
  'chinese': 64,
  'english': 82,
  'math': 87,
  'history': 88,
  'health': 84},
 {'name': 'student33',
  'chinese': 96,
  'english': 68,
  'math': 58,
  'history': 72,
  'health': 71},
 {'name': 'student34',
  'chinese': 91,
  'english': 83,
  'math': 84,
  'history': 96,
  'health': 50},
 {'name': 'student35',
  'chinese': 82,
  'english': 64,
  'math': 69,
  'history': 88,
  'health': 100},
 {'name': 'student36',
  'chinese': 100,
  'english': 72,
  'math': 92,
  'history': 73,
  'health': 86},
 {'name': 'student37',
  'chinese': 96,
  'english': 81,
  'math': 75,
  'history': 69,
  'health': 65},
 {'name': 'student38',
  'chinese': 62,
  'english': 68,
  'math': 82,
  'history': 88,
  'health': 93},
 {'name': 'student39',
  'chinese': 75,
  'english': 52,
  'math': 55,
  'history': 55,
  'health': 81},
 {'name': 'student40',
  'chinese': 84,
  'english': 85,
  'math': 61,
  'history': 92,
  'health': 90},
 {'name': 'student41',
  'chinese': 66,
  'english': 98,
  'math': 62,
  'history': 86,
  'health': 55},
 {'name': 'student42',
  'chinese': 85,
  'english': 78,
  'math': 57,
  'history': 81,
  'health': 93},
 {'name': 'student43',
  'chinese': 85,
  'english': 88,
  'math': 50,
  'history': 60,
  'health': 77},
 {'name': 'student44',
  'chinese': 79,
  'english': 72,
  'math': 81,
  'history': 82,
  'health': 82},
 {'name': 'student45',
  'chinese': 55,
  'english': 70,
  'math': 67,
  'history': 82,
  'health': 79},
 {'name': 'student46',
  'chinese': 67,
  'english': 96,
  'math': 50,
  'history': 100,
  'health': 85},
 {'name': 'student47',
  'chinese': 77,
  'english': 60,
  'math': 94,
  'history': 69,
  'health': 63},
 {'name': 'student48',
  'chinese': 58,
  'english': 54,
  'math': 79,
  'history': 53,
  'health': 66},
 {'name': 'student49',
  'chinese': 96,
  'english': 62,
  'math': 85,
  'history': 95,
  'health': 93},
 {'name': 'student50',
  'chinese': 79,
  'english': 56,
  'math': 70,
  'history': 93,
  'health': 76}]

In [80]:
for scores in students:
    print(scores)

{'name': 'student1', 'chinese': 79, 'English': 86, 'math': 69, 'history': 55, 'health': 76}
{'name': 'student2', 'chinese': 87, 'English': 65, 'math': 59, 'history': 93, 'health': 59}
{'name': 'student3', 'chinese': 97, 'English': 93, 'math': 78, 'history': 95, 'health': 95}
{'name': 'student4', 'chinese': 73, 'English': 65, 'math': 88, 'history': 51, 'health': 56}
{'name': 'student5', 'chinese': 96, 'English': 92, 'math': 77, 'history': 73, 'health': 79}
{'name': 'student6', 'chinese': 90, 'English': 86, 'math': 67, 'history': 69, 'health': 58}
{'name': 'student7', 'chinese': 95, 'English': 50, 'math': 91, 'history': 90, 'health': 67}
{'name': 'student8', 'chinese': 90, 'English': 75, 'math': 58, 'history': 91, 'health': 88}
{'name': 'student9', 'chinese': 66, 'English': 82, 'math': 65, 'history': 78, 'health': 100}
{'name': 'student10', 'chinese': 71, 'English': 96, 'math': 55, 'history': 53, 'health': 71}
{'name': 'student11', 'chinese': 77, 'English': 59, 'math': 53, 'history': 96, 'health': 84}
{'name': 'student12', 'chinese': 99, 'English': 84, 'math': 86, 'history': 98, 'health': 73}
{'name': 'student13', 'chinese': 88, 'English': 99, 'math': 59, 'history': 84, 'health': 81}
{'name': 'student14', 'chinese': 52, 'English': 71, 'math': 54, 'history': 89, 'health': 80}
{'name': 'student15', 'chinese': 92, 'English': 50, 'math': 51, 'history': 51, 'health': 82}
{'name': 'student16', 'chinese': 85, 'English': 85, 'math': 78, 'history': 54, 'health': 68}
{'name': 'student17', 'chinese': 79, 'English': 79, 'math': 56, 'history': 74, 'health': 64}
{'name': 'student18', 'chinese': 65, 'English': 97, 'math': 82, 'history': 75, 'health': 90}
{'name': 'student19', 'chinese': 98, 'English': 74, 'math': 94, 'history': 71, 'health': 51}
{'name': 'student20', 'chinese': 61, 'English': 59, 'math': 100, 'history': 79, 'health': 65}
{'name': 'student21', 'chinese': 72, 'English': 100, 'math': 95, 'history': 86, 'health': 62}
{'name': 'student22', 'chinese': 71, 'English': 61, 'math': 57, 'history': 85, 'health': 87}
{'name': 'student23', 'chinese': 97, 'English': 93, 'math': 99, 'history': 58, 'health': 86}
{'name': 'student24', 'chinese': 95, 'English': 94, 'math': 97, 'history': 55, 'health': 81}
{'name': 'student25', 'chinese': 84, 'English': 99, 'math': 84, 'history': 91, 'health': 96}
{'name': 'student26', 'chinese': 69, 'English': 64, 'math': 69, 'history': 75, 'health': 88}
{'name': 'student27', 'chinese': 67, 'English': 64, 'math': 54, 'history': 72, 'health': 83}
{'name': 'student28', 'chinese': 98, 'English': 59, 'math': 96, 'history': 86, 'health': 54}
{'name': 'student29', 'chinese': 69, 'English': 93, 'math': 85, 'history': 100, 'health': 84}
{'name': 'student30', 'chinese': 75, 'English': 92, 'math': 97, 'history': 80, 'health': 53}
{'name': 'student31', 'chinese': 97, 'English': 85, 'math': 90, 'history': 100, 'health': 69}
{'name': 'student32', 'chinese': 94, 'English': 99, 'math': 61, 'history': 90, 'health': 90}
{'name': 'student33', 'chinese': 74, 'English': 96, 'math': 92, 'history': 89, 'health': 52}
{'name': 'student34', 'chinese': 92, 'English': 68, 'math': 85, 'history': 64, 'health': 95}
{'name': 'student35', 'chinese': 54, 'English': 90, 'math': 59, 'history': 67, 'health': 66}
{'name': 'student36', 'chinese': 77, 'English': 84, 'math': 50, 'history': 97, 'health': 99}
{'name': 'student37', 'chinese': 68, 'English': 96, 'math': 69, 'history': 85, 'health': 86}
{'name': 'student38', 'chinese': 82, 'English': 88, 'math': 94, 'history': 89, 'health': 71}
{'name': 'student39', 'chinese': 56, 'English': 74, 'math': 84, 'history': 68, 'health': 53}
{'name': 'student40', 'chinese': 73, 'English': 60, 'math': 76, 'history': 79, 'health': 57}
{'name': 'student41', 'chinese': 75, 'English': 93, 'math': 84, 'history': 71, 'health': 50}
{'name': 'student42', 'chinese': 91, 'English': 66, 'math': 74, 'history': 83, 'health': 82}
{'name': 'student43', 'chinese': 83, 'English': 75, 'math': 78, 'history': 66, 'health': 85}
{'name': 'student44', 'chinese': 97, 'English': 77, 'math': 83, 'history': 88, 'health': 74}
{'name': 'student45', 'chinese': 98, 'English': 83, 'math': 100, 'history': 55, 'health': 59}
{'name': 'student46', 'chinese': 71, 'English': 78, 'math': 51, 'history': 80, 'health': 81}
{'name': 'student47', 'chinese': 71, 'English': 66, 'math': 59, 'history': 85, 'health': 93}
{'name': 'student48', 'chinese': 65, 'English': 85, 'math': 50, 'history': 53, 'health': 76}
{'name': 'student49', 'chinese': 52, 'English': 80, 'math': 83, 'history': 73, 'health': 88}
{'name': 'student50', 'chinese': 88, 'English': 65, 'math': 65, 'history': 74, 'health': 72}

In [93]:
# 將 students 列表轉換為字串

students_str = '\n'.join([
    f"姓名:{student['name']}, "
    f"國文:{student['chinese']}, "
    f"英文:{student['english']}, "
    f"數學:{student['math']}, "
    f"歷史:{student['history']}, "
    f"健康:{student['health']}"
    for student in students
])

print(students_str)

姓名:student1, 國文:66, 英文:90, 數學:63, 歷史:66, 健康:78
姓名:student2, 國文:75, 英文:76, 數學:59, 歷史:84, 健康:70
姓名:student3, 國文:54, 英文:57, 數學:100, 歷史:74, 健康:62
姓名:student4, 國文:72, 英文:68, 數學:79, 歷史:51, 健康:63
姓名:student5, 國文:70, 英文:85, 數學:83, 歷史:77, 健康:86
姓名:student6, 國文:52, 英文:89, 數學:84, 歷史:66, 健康:62
姓名:student7, 國文:87, 英文:73, 數學:67, 歷史:86, 健康:59
姓名:student8, 國文:67, 英文:68, 數學:60, 歷史:75, 健康:52
姓名:student9, 國文:62, 英文:85, 數學:97, 歷史:61, 健康:93
姓名:student10, 國文:71, 英文:96, 數學:74, 歷史:79, 健康:66
姓名:student11, 國文:59, 英文:88, 數學:70, 歷史:98, 健康:69
姓名:student12, 國文:86, 英文:78, 數學:83, 歷史:70, 健康:92
姓名:student13, 國文:95, 英文:67, 數學:51, 歷史:89, 健康:53
姓名:student14, 國文:88, 英文:55, 數學:85, 歷史:62, 健康:56
姓名:student15, 國文:77, 英文:98, 數學:81, 歷史:91, 健康:86
姓名:student16, 國文:81, 英文:81, 數學:87, 歷史:99, 健康:74
姓名:student17, 國文:96, 英文:53, 數學:88, 歷史:72, 健康:74
姓名:student18, 國文:70, 英文:50, 數學:64, 歷史:83, 健康:82
姓名:student19, 國文:56, 英文:77, 數學:84, 歷史:91, 健康:88
姓名:student20, 國文:56, 英文:64, 數學:64, 歷史:74, 健康:56
姓名:student21, 國文:68, 英文:59, 數學:72, 歷史:96, 健康:75
姓名:student22, 國文:77, 英文:62, 數學:87, 歷史:82, 健康:56
姓名:student23, 國文:50, 英文:93, 數學:83, 歷史:77, 健康:79
姓名:student24, 國文:96, 英文:87, 數學:90, 歷史:71, 健康:74
姓名:student25, 國文:52, 英文:66, 數學:95, 歷史:63, 健康:74
姓名:student26, 國文:56, 英文:68, 數學:62, 歷史:59, 健康:84
姓名:student27, 國文:95, 英文:61, 數學:57, 歷史:63, 健康:51
姓名:student28, 國文:75, 英文:66, 數學:92, 歷史:76, 健康:70
姓名:student29, 國文:100, 英文:93, 數學:54, 歷史:77, 健康:75
姓名:student30, 國文:51, 英文:70, 數學:73, 歷史:79, 健康:90
姓名:student31, 國文:98, 英文:86, 數學:87, 歷史:87, 健康:87
姓名:student32, 國文:64, 英文:82, 數學:87, 歷史:88, 健康:84
姓名:student33, 國文:96, 英文:68, 數學:58, 歷史:72, 健康:71
姓名:student34, 國文:91, 英文:83, 數學:84, 歷史:96, 健康:50
姓名:student35, 國文:82, 英文:64, 數學:69, 歷史:88, 健康:100
姓名:student36, 國文:100, 英文:72, 數學:92, 歷史:73, 健康:86
姓名:student37, 國文:96, 英文:81, 數學:75, 歷史:69, 健康:65
姓名:student38, 國文:62, 英文:68, 數學:82, 歷史:88, 健康:93
姓名:student39, 國文:75, 英文:52, 數學:55, 歷史:55, 健康:81
姓名:student40, 國文:84, 英文:85, 數學:61, 歷史:92, 健康:90
姓名:student41, 國文:66, 英文:98, 數學:62, 歷史:86, 健康:55
姓名:student42, 國文:85, 英文:78, 數學:57, 歷史:81, 健康:93
姓名:student43, 國文:85, 英文:88, 數學:50, 歷史:60, 健康:77
姓名:student44, 國文:79, 英文:72, 數學:81, 歷史:82, 健康:82
姓名:student45, 國文:55, 英文:70, 數學:67, 歷史:82, 健康:79
姓名:student46, 國文:67, 英文:96, 數學:50, 歷史:100, 健康:85
姓名:student47, 國文:77, 英文:60, 數學:94, 歷史:69, 健康:63
姓名:student48, 國文:58, 英文:54, 數學:79, 歷史:53, 健康:66
姓名:student49, 國文:96, 英文:62, 數學:85, 歷史:95, 健康:93
姓名:student50, 國文:79, 英文:56, 數學:70, 歷史:93, 健康:76

In [95]:
print(students_str,file=open("students.txt",mode='w',encoding='utf-8'))